  #trafficLight_green {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: black;
  }

  #trafficLight_yellow {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: black;
  }

  #trafficLight_red {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: black;
  }